# --- Preconfigured ---
bin/
obj/
/packages/
riderModule.iml
/_ReSharperl.Caches/

# --- Self-configured ---
# IDE Settings
.idea/
# Rider User Settings
voycar-backend.sln.DotSettings.user

# Logging files
Logs/
# Data from the database
Data/
# Migration files for the database
Migrations/
